<a href="https://colab.research.google.com/github/OladotunOlanipekun/Discrete-Mathematics/blob/main/OladotunOlanipekun_DiscreteMath_Project7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project Part # 7 : CPSMA 3133 [Dr. Jacob's](https://github.com/nurfnick) Discrete Mathematics 

## Logic

### Oladotun Olanipekun 271479

Create a truth table

(a) Create three propositions. I will describe them as p, r and q but you should use the name to describe the proposition! Discuss the truth value of each of these and decide on one that makes sense for you.

(b) Compute the truth of the statement r ∧ p, r ∨ ¬q and r ⇒ p.

(c) Compute a complete truth table for ¬ (r ⊕ p) ⇒ (p ∨ q)

In [1]:
WillGoToWork = True
WillEatHealthy = False
WillDoSchoolWork = True
WillEatJunkFood = False
WillCleanMyRoom = True
WillWatchAnime = False

$$r \land p$$

$$r \lor \lnot q$$

$$r \Rightarrow p$$

In [2]:
(WillDoSchoolWork) and (WillGoToWork)

True

In [3]:
(WillDoSchoolWork) or not(WillEatJunkFood)

True

In [4]:
def implies(a,b):
  return not(b) or a

implies(WillDoSchoolWork,WillGoToWork)

True

Truth table

$ \lnot (r\oplus p) \Rightarrow (p \lor q)$

In [5]:
values = [True,False]
table = []

for r in values:
  for p in values:
    for q in values: 
      row =[]
      row.append(r)
      row.append(p)
      row.append(q)
      row.append(not(r))
      row.append(not(r) and p)
      row.append(q and p)
      row.append(implies(not(r) and p,q and p))
      table.append(row)

In [6]:
import pandas as pd

df = pd.DataFrame(table,columns = ['r','p','q','$\lnot r$','$\lnot r \lor p$',r'$q\land p$',r'$\left(\lnot r \lor p\right) \Rightarrow \left(q \land p\right)$'] )
df

,r,p,q,$\lnot r$,$\lnot r \lor p$,$q\land p$,$\left(\lnot r \lor p\right) \Rightarrow \left(q \land p\right)$
0,True,True,True,False,False,True,False
1,True,True,False,False,False,False,True
2,True,False,True,False,False,False,True
3,True,False,False,False,False,False,True
4,False,True,True,True,True,True,True
5,False,True,False,True,True,False,True
6,False,False,True,True,False,False,True
7,False,False,False,True,False,False,True